### API Open Weather

In [2]:
import requests
from dotenv import load_dotenv
import os
import re
import pandas as pd
import json
from pandas import json_normalize

## Import the DataFrame and getting the access token

In [10]:
# Reading the files
weather_climbing_data=pd.read_csv("weather_climbing_clean.csv")

In [11]:
load_dotenv()

True

In [12]:
op_token= os.getenv("OPEN_WEATHER_TOKEN")

## Making requests to the API

In [13]:
# Wheather at the exact moment 8-11-2020 17:00
response=requests.get(f"http://api.openweathermap.org/data/2.5/weather?lat=46.879967&lon=-121.726906&appid={op_token}")

In [14]:
data=json.loads(response.text)

In [15]:
print(data)

{'coord': {'lon': -121.73, 'lat': 46.88}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 277.78, 'feels_like': 274.58, 'temp_min': 276.48, 'temp_max': 278.71, 'pressure': 1021, 'humidity': 81}, 'visibility': 10000, 'wind': {'speed': 2.1, 'deg': 262}, 'clouds': {'all': 100}, 'dt': 1604958552, 'sys': {'type': 3, 'id': 2001439, 'country': 'US', 'sunrise': 1604934127, 'sunset': 1604968775}, 'timezone': -28800, 'id': 5806769, 'name': 'Pierce', 'cod': 200}

### Obtaining the data with Onecall Option

In [19]:
'''A more useful way of getting the data with Onecall.
Shows the weather for day 08/11/2020 at 17:00, minute fortcast for 1 hour, hourly forecast, daily forecast 7 days and the
historical weather for the 5 previous days. '''

api_key = f"{op_token}"
lat = "46.879967"
lon = "-121.726906"
url = "https://api.openweathermap.org/data/2.5/onecall?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)
dt="1604361600"

response = requests.get(url)
data = json.loads(response.text)
print(str(data)[:500])

{'lat': 46.88, 'lon': -121.73, 'timezone': 'America/Los_Angeles', 'timezone_offset': -28800, 'current': {'dt': 1604958554, 'sunrise': 1604934127, 'sunset': 1604968775, 'temp': 4.61, 'feels_like': 1.4, 'pressure': 1020, 'humidity': 83, 'dew_point': 1.98, 'uvi': 1.45, 'clouds': 100, 'visibility': 10000, 'wind_speed': 2.19, 'wind_deg': 264, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]}, 'minutely': [{'dt': 1604958600, 'precipitation': 0}, {'dt': 160495

In [14]:
# Obtain the temperatures from 8 Nov to 15 Nov 2020
temps=[]
days=[]
daily = data["daily"]

for entry in daily:
    temp = entry["temp"]
    day= entry["dt"]
    temps.append(temp)
    days.append(dt)

print(temps)
print(days)

[{'day': 0.77, 'min': -12.49, 'max': 0.77, 'night': -9.17, 'eve': -8.14, 'morn': -12.46}, {'day': -10.26, 'min': -12.93, 'max': -9.57, 'night': -12.93, 'eve': -9.95, 'morn': -10.75}, {'day': -11.15, 'min': -15.78, 'max': -10.29, 'night': -15.48, 'eve': -11.93, 'morn': -15.78}, {'day': -9.86, 'min': -15.38, 'max': -8.82, 'night': -13.48, 'eve': -10.37, 'morn': -15.38}, {'day': -9.22, 'min': -14.03, 'max': -8.1, 'night': -9.43, 'eve': -9.18, 'morn': -13.41}, {'day': -10.31, 'min': -11.13, 'max': -9.26, 'night': -10.82, 'eve': -11.06, 'morn': -9.26}, {'day': -9.15, 'min': -10.64, 'max': -9.11, 'night': -9.69, 'eve': -9.32, 'morn': -10.38}, {'day': -9.59, 'min': -10.55, 'max': -9.12, 'night': -10.55, 'eve': -9.92, 'morn': -9.69}]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

In [15]:
# Obtain the humidity from 8 Nov to 15 Nov 2020
humidity=[]
days=[]
daily = data["daily"]

for entry in daily:
    hum = entry["humidity"]
    day= entry["dt"]
    humidity.append(hum)
    days.append(dt)
print(humidity)
print(days)

[93, 100, 100, 100, 100, 100, 100, 100]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

In [16]:
# Obtain the wind speed from 8 Nov to 15 Nov 2020
wind_s=[]
days=[]
daily = data["daily"]

for entry in daily:
    wind = entry["wind_speed"]
    day= entry["dt"]
    wind_s.append(wind)
    days.append(dt)
print(wind_s)
print(days)

[2.08, 3.24, 1.02, 0.98, 1.42, 6.85, 2.2, 1.5]
['1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600', '1604361600']

The data for solar radiation and wind direction can not be obtained with this API

In [18]:
# Collecting the temperature for each day from 8 Nov to 15 Nov 2020

df = pd.json_normalize(data["daily"][0]["temp"])
print (df)
df1= pd.json_normalize(data["daily"][1]["temp"])
print(df1)
df2 = pd.json_normalize(data["daily"][2]["temp"])
print (df2)
df3= pd.json_normalize(data["daily"][3]["temp"])
print(df3)
df4 = pd.json_normalize(data["daily"][4]["temp"])
print (df4)
df5= pd.json_normalize(data["daily"][5]["temp"])
print(df5)
df6 = pd.json_normalize(data["daily"][6]["temp"])
print (df6)
df7= pd.json_normalize(data["daily"][7]["temp"])
print(df7)

    day    min   max  night   eve   morn
0  0.77 -12.49  0.77  -9.17 -8.14 -12.46
     day    min   max  night   eve   morn
0 -10.26 -12.93 -9.57 -12.93 -9.95 -10.75
     day    min    max  night    eve   morn
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78
    day    min   max  night    eve   morn
0 -9.86 -15.38 -8.82 -13.48 -10.37 -15.38
    day    min  max  night   eve   morn
0 -9.22 -14.03 -8.1  -9.43 -9.18 -13.41
     day    min   max  night    eve  morn
0 -10.31 -11.13 -9.26 -10.82 -11.06 -9.26
    day    min   max  night   eve   morn
0 -9.15 -10.64 -9.11  -9.69 -9.32 -10.38
    day    min   max  night   eve  morn
0 -9.59 -10.55 -9.12 -10.55 -9.92 -9.69

In [19]:
# Concateneting in a dataframe all the data from temperature
result = pd.concat([df,df1, df2, df3, df4, df5, df6, df7])
result

     day    min    max  night    eve   morn
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69

In [20]:
# Adding a Date column to specify the date of each of the measurements
result["Date"]=["08/11/2020", "09/11/2020", "10/11/2020", "11/11/2020", "12/11/2020", "13/11/2020", "14/11/2020", "15/11/2020"]
result

     day    min    max  night    eve   morn        Date
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020

In [21]:
# Collecting the temperature for each day from 8 Nov to 15 Nov 2020

dict_0 = {"humidity" : data["daily"][0]["humidity"], "wind_speed": data["daily"][0]["wind_speed"] }
dict_1 = {"humidity" : data["daily"][1]["humidity"], "wind_speed": data["daily"][1]["wind_speed"] }
dict_2 = {"humidity" : data["daily"][2]["humidity"], "wind_speed": data["daily"][2]["wind_speed"] }
dict_3 = {"humidity" : data["daily"][3]["humidity"], "wind_speed": data["daily"][3]["wind_speed"] }
dict_4 = {"humidity" : data["daily"][4]["humidity"], "wind_speed": data["daily"][4]["wind_speed"] }
dict_5 = {"humidity" : data["daily"][5]["humidity"], "wind_speed": data["daily"][5]["wind_speed"] }
dict_6 = {"humidity" : data["daily"][6]["humidity"], "wind_speed": data["daily"][6]["wind_speed"] }
dict_7 = {"humidity" : data["daily"][7]["humidity"], "wind_speed": data["daily"][7]["wind_speed"] }

df0hw = pd.json_normalize(dict_0)
df1hw = pd.json_normalize(dict_1)
df2hw = pd.json_normalize(dict_2)
df3hw = pd.json_normalize(dict_3)
df4hw = pd.json_normalize(dict_4)
df5hw = pd.json_normalize(dict_5)
df6hw = pd.json_normalize(dict_6)
df7hw = pd.json_normalize(dict_7)

result_h_w = pd.concat([df0hw,df1hw, df2hw, df3hw, df4hw, df5hw, df6hw, df7hw])
result_h_w

   humidity  wind_speed
0        93        2.08
0       100        3.24
0       100        1.02
0       100        0.98
0       100        1.42
0       100        6.85
0       100        2.20
0       100        1.50

In [23]:
# COncatenate the values of both tables
joined_thw = pd.concat([result, result_h_w], axis=1)
joined_thw

     day    min    max  night    eve   morn        Date  humidity  wind_speed
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020        93        2.08
0 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020       100        3.24
0 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020       100        1.02
0  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020       100        0.98
0  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020       100        1.42
0 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020       100        6.85
0  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020       100        2.20
0  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020       100        1.50

In [24]:
# Giving an index to the rows of the table
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7])
joined_thw.set_index([s])

     day    min    max  night    eve   morn        Date  humidity  wind_speed
0   0.77 -12.49   0.77  -9.17  -8.14 -12.46  08/11/2020        93        2.08
1 -10.26 -12.93  -9.57 -12.93  -9.95 -10.75  09/11/2020       100        3.24
2 -11.15 -15.78 -10.29 -15.48 -11.93 -15.78  10/11/2020       100        1.02
3  -9.86 -15.38  -8.82 -13.48 -10.37 -15.38  11/11/2020       100        0.98
4  -9.22 -14.03  -8.10  -9.43  -9.18 -13.41  12/11/2020       100        1.42
5 -10.31 -11.13  -9.26 -10.82 -11.06  -9.26  13/11/2020       100        6.85
6  -9.15 -10.64  -9.11  -9.69  -9.32 -10.38  14/11/2020       100        2.20
7  -9.59 -10.55  -9.12 -10.55  -9.92  -9.69  15/11/2020       100        1.50

In [25]:
# Rename the columns as in the cleaned DataFrame
joined_clean=joined_thw.rename(columns={"day": "Temperature AVG"})
joined_clean1=joined_clean.rename(columns={"humidity": "Relative Humidity AVG"})
joined_clean2=joined_clean1.rename(columns={"wind_speed": "Wind Speed Daily AVG"})

joined_clean2

,Temperature AVG,min,max,night,eve,morn,Date,Relative Humidity AVG,Wind Speed Daily AVG
0,0.77,-12.49,0.77,-9.17,-8.14,-12.46,08/11/2020,93,2.08
0,-10.26,-12.93,-9.57,-12.93,-9.95,-10.75,09/11/2020,100,3.24
0,-11.15,-15.78,-10.29,-15.48,-11.93,-15.78,10/11/2020,100,1.02
0,-9.86,-15.38,-8.82,-13.48,-10.37,-15.38,11/11/2020,100,0.98
0,-9.22,-14.03,-8.10,-9.43,-9.18,-13.41,12/11/2020,100,1.42
0,-10.31,-11.13,-9.26,-10.82,-11.06,-9.26,13/11/2020,100,6.85
0,-9.15,-10.64,-9.11,-9.69,-9.32,-10.38,14/11/2020,100,2.20
0,-9.59,-10.55,-9.12,-10.55,-9.92,-9.69,15/11/2020,100,1.50

In [26]:
# Delete the not useful columns
joined_clean3=joined_clean2.drop(labels=["min", "max", "night", "eve", "morn"], axis=1)
joined_clean3

   Temperature AVG        Date  Relative Humidity AVG  Wind Speed Daily AVG
0             0.77  08/11/2020                     93                  2.08
0           -10.26  09/11/2020                    100                  3.24
0           -11.15  10/11/2020                    100                  1.02
0            -9.86  11/11/2020                    100                  0.98
0            -9.22  12/11/2020                    100                  1.42
0           -10.31  13/11/2020                    100                  6.85
0            -9.15  14/11/2020                    100                  2.20
0            -9.59  15/11/2020                    100                  1.50

In [27]:
# Changing from miles/hour to kilometers/hour the wind speed

def m_km(miles):
    km= 1.60934 * miles
    return km

joined_clean3["Wind Speed Daily AVG"]= joined_clean3["Wind Speed Daily AVG"].apply(m_km)
joined_clean3

   Temperature AVG        Date  Relative Humidity AVG  Wind Speed Daily AVG
0             0.77  08/11/2020                     93              3.347427
0           -10.26  09/11/2020                    100              5.214262
0           -11.15  10/11/2020                    100              1.641527
0            -9.86  11/11/2020                    100              1.577153
0            -9.22  12/11/2020                    100              2.285263
0           -10.31  13/11/2020                    100             11.023979
0            -9.15  14/11/2020                    100              3.540548
0            -9.59  15/11/2020                    100              2.414010

## Join the data of the previos DataFrame from data cleaning to this new DataFrame

In [28]:
weather_climbing_data

,Unnamed: 0,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,0,11/27/2015,Disappointment Cleaver,2,0,0.000000,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015,11
1,1,11/21/2015,Disappointment Cleaver,3,0,0.000000,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015,11
2,2,10/15/2015,Disappointment Cleaver,2,0,0.000000,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015,10
3,3,10/13/2015,Little Tahoma,8,0,0.000000,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015,10
4,4,10/9/2015,Disappointment Cleaver,2,0,0.000000,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4072,4072,1/16/2014,Little Tahoma,2,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4073,4073,1/6/2014,Disappointment Cleaver,8,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4074,4074,1/6/2014,Disappointment Cleaver,8,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4075,4075,1/5/2014,Disappointment Cleaver,2,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2014,1
4076,4076,1/4/2014,Gibralter Ledges,3,2,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,2014,1

In [29]:
# # Insert the new values in the table from data cleaning
cleaned_df=weather_climbing_data.append(joined_clean3)
cleaned_df

,Unnamed: 0,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,0.0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015.0,11.0
1,1.0,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015.0,11.0
2,2.0,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015.0,10.0
3,3.0,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015.0,10.0
4,4.0,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,11/11/2020,NaN,NaN,NaN,NaN,NaN,-9.860000,100.000000,1.577153,NaN,NaN,NaN,NaN
0,NaN,12/11/2020,NaN,NaN,NaN,NaN,NaN,-9.220000,100.000000,2.285263,NaN,NaN,NaN,NaN
0,NaN,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.310000,100.000000,11.023979,NaN,NaN,NaN,NaN
0,NaN,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.150000,100.000000,3.540548,NaN,NaN,NaN,NaN
0,NaN,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.590000,100.000000,2.414010,NaN,NaN,NaN,NaN

In [30]:
# Delete column "Unnamed:0"
cleaned_df=cleaned_df.drop(labels="Unnamed: 0", axis=1)
cleaned_df

,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015.0,11.0
1,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015.0,11.0
2,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015.0,10.0
3,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015.0,10.0
4,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,11/11/2020,NaN,NaN,NaN,NaN,NaN,-9.860000,100.000000,1.577153,NaN,NaN,NaN,NaN
0,12/11/2020,NaN,NaN,NaN,NaN,NaN,-9.220000,100.000000,2.285263,NaN,NaN,NaN,NaN
0,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.310000,100.000000,11.023979,NaN,NaN,NaN,NaN
0,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.150000,100.000000,3.540548,NaN,NaN,NaN,NaN
0,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.590000,100.000000,2.414010,NaN,NaN,NaN,NaN

In [108]:
# Add the year and month from the new entries to their respective columns
cleaned_df['Year'] = pd.DatetimeIndex(cleaned_df['Date']).year
cleaned_df['Month'] = pd.DatetimeIndex(cleaned_df['Date']).month
cleaned_df

,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG,Year,Month
0,11/27/2015,Disappointment Cleaver,2.0,0.0,0.0,13.643750,-3.154630,19.715000,44.803355,68.004167,88.496250,2015,11
1,11/21/2015,Disappointment Cleaver,3.0,0.0,0.0,13.749583,-0.388889,21.690708,3.614309,117.549667,93.660417,2015,11
2,10/15/2015,Disappointment Cleaver,2.0,0.0,0.0,13.461250,8.026620,27.211250,27.622108,259.121375,138.387000,2015,10
3,10/13/2015,Little Tahoma,8.0,0.0,0.0,13.532083,4.988657,28.335708,31.528848,279.779167,176.382667,2015,10
4,10/9/2015,Disappointment Cleaver,2.0,0.0,0.0,13.216250,3.478009,74.329167,104.829725,264.687500,27.791292,2015,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,11/11/2020,NaN,NaN,NaN,NaN,NaN,-10.100000,100.000000,3.548266,NaN,NaN,2020,11
0,12/11/2020,NaN,NaN,NaN,NaN,NaN,-8.920000,100.000000,2.434577,NaN,NaN,2020,12
0,13/11/2020,NaN,NaN,NaN,NaN,NaN,-10.080000,100.000000,20.512604,NaN,NaN,2020,11
0,14/11/2020,NaN,NaN,NaN,NaN,NaN,-9.060000,100.000000,5.179950,NaN,NaN,2020,11
0,15/11/2020,NaN,NaN,NaN,NaN,NaN,-9.580000,100.000000,2.900772,NaN,NaN,2020,11

## Export the cleaned DataFrame

In [109]:
cleaned_df.to_csv("API_info_clean.csv")